<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd    
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 对包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
    <context:component-scan base-package="com.shua1"/>
    <context:annotation-config /> 
    
    <!-- 扫描mapper文件 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.shua1.**.mapper" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="databaseIdProvider" ref="databaseIdProvider" />
		<property name="typeAliasesPackage" value="com.shua1.xiaoyingcoudan.*.model" />
		<property name="mapperLocations" value="classpath*:/mybatis/*Mapper.xml" />
		<!--<property name="configLocation"  value="classpath:/spring/mybatis-config.xml"></property>-->
	</bean>
	
	<!-- databaseIdProvider -->
	<bean id="vendorProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="SQL Server">sqlserver</prop>
		        <prop key="DB2">db2</prop>
		        <prop key="Oracle">oracle</prop>
		        <prop key="MySQL">mysql</prop>
		        <prop key="H2">h2</prop>
			</props>
		</property>
	</bean>
	
	 <bean id="databaseIdProvider" class="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
    	<property name="properties" ref="vendorProperties"/>
  	 </bean>
    
    <!-- 读取properties配置文件 -->
    <bean id="projectCfg" name="projectCfg"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          abstract="false" autowire="default" scope="singleton">
        <property name="locations">
            <value>classpath*:config/*.properties</value>
        </property>
        <property name="fileEncoding">
            <value>UTF-8</value>
        </property>
    </bean>
			
	<!-- 引入相关Spring配置文件 -->
	<import resource="classpath:spring/spring-db.xml" />
	<import resource="classpath:spring/spring-transaction.xml" />
		
</beans>
